<!--The content below is only a placeholder and can be replaced.-->
<div>

  <h1 style="text-align:center" >
    Users
  </h1>

<div>

  <input [(ngModel)]="searchText"  placeholder="Search.." class="search">

  <select id="mySelect" (change)="myFunction()">
    <option value="select">select</option>
    <option value="SortId">SortId</option>
    <option value="SortName">SortName</option>
    <option value="Push">Push</option>

  </select>



</div>


<div  *ngFor="let person of people  | filter :'user_id,first_name': searchText " class="user_cards" >

  <button class="close" (click)="remove(person)">x</button>

  <h5>{{person.user_id}}</h5>

  <h5>{{person.first_name}} <span> {{person.last_name}} </span> </h5>


</div>


<div class="map_container" >

<h3 style="text-align:center;">Mapped data</h3>

<!--<div  *ngFor="let person of people; let i = index" class="map" >-->

  <!--<h6>Name:{{people[i]['user']['first_name'] }}</h6>-->
  <!--<h6>created: {{people[i]['data']['TIME'][0]['START']}}</h6>-->

<!--</div>-->

  <div  *ngFor="let user of mappedArray;let i = index;" class="map" >

    <h6> Name:{{ user.userName }} </h6>
    <h6> Createdon:{{ user.createdOn }} </h6>



  </div>

<div style="clear:both;">



</div>

</div>

</div>
