.user_cards{
     width: 270px;
     background-color: #f5f5f5;
     margin-left: 20px;
     margin-bottom: 30px;
     margin-top: 10px;
     padding: 7px 0 1px;
     float: left;
     padding-left: 10px;
     }

.close{
 margin: -20px -8px 0 0;
 float: right;
}

.search{
margin-left: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 30px;
    padding: 0 10px;
}

.map{
    width: 100px;
    background-color: #f5f5f5;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 7px 0 1px;
    display:inline-block;
    padding-left: 10px;
}

.map_container{
margin-top: 20px;
clear:both;
}
